// Lots of code here so each image has equal width and height with just css.
// Source https://codepen.io/ItScofield/pen/PNVZoQ

#posts-container a:not(:nth-child(3n)) > .post {
  margin-right: $posts-margin;
}

.posts-container {
  float: left;
}

.post {
  position: relative;
  width: calc(100% / 3 - 2 / 3 * #{$posts-margin});
  height: auto;
  margin-bottom: $posts-margin;

  float: left;
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.post:before {
  content: "";
  display: block;
  padding-top: 100%;
}
