.dashboard-container {
	// @include content-container;

	height: 100vh;
}

.dashboard {
	h4 {
		padding-bottom: 1.5rem;
	}

	.button {
		margin-top: 1rem;
	}

	&__nav {
		&__content {
			@include content-container;

			display: flex;
			justify-content: space-around;
		}
		
		padding: 1rem 0;
		background-color: white;
		border-bottom: 1px solid $light-grey-2;
	}

	&__main {
		&__content {
			@include content-container;
		}
	}

	&__create {
		background-color: white;
		border: 1px solid $light-grey-2;
		border-radius: 3px;
		padding: 2rem;
		margin: 2rem 0;
	}

	&__products {
		background-color: white;
		border: 1px solid $light-grey-2;
		border-radius: 3px;
		padding: 2rem;
		margin: 2rem 0;
		overflow: auto; 
	}
}