@mixin content-container {
	max-width: 80rem;
	margin: 0 auto;
	padding: 0 $l-size;
	z-index: 9001;
	height: auto;
}

@mixin user-content-container {
	max-width: 80rem;
	margin: 0 auto;
	z-index: 9001;
	height: auto;
}

