.button-container {
	a:hover {
		opacity: 1 !important;
	}
}

.button {
	background-color: $light-green;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 1rem 1.5rem;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.3s;
	font-size: $font-size-default;

	

	&:hover {
		background-color: lighten($light-green, 7%);
	}
}