.button-container {
	display: inline;
	margin-right: 1rem;
	
	a:hover {
		opacity: 1 !important;
	}
}

.button {
	background-color: $light-green;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	transition: 0.3s;
	font-size: $font-size-default;

	&--shadow {
		@include shadow;
	}

	a {
		font-weight: 400;
	}

	&:hover {
		background-color: lighten($light-green, 7%);
	}
}